<div>
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-pclime-500 focus:outline-none focus:ring-pclime-500 sm:text-sm"
            hx-target="#org-tabs"
            hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.CurrentOrg.ID $.Const.TabEndpoint }}"
            hx-on::config-request="event.detail.path += '/'+this.value"
            hx-swap="innerHTML">
            <option value="{{ $.Const.DashboardEndpoint }}">Properties</option>
            <option value="{{ $.Const.FormsEndpoint }}" selected>Forms</option>
            {{ if eq .Params.CurrentOrg.Level .Const.OrgLevelOwner }}
            <option value="{{ $.Const.MembersEndpoint }}">Members</option>
            {{ end }}
            <option value="{{ $.Const.SettingsEndpoint }}">Settings</option>
            <option value="{{ $.Const.RulesEndpoint }}">Rules</option>
            {{ if eq .Params.CurrentOrg.Level .Const.OrgLevelOwner }}
            <option value="{{ $.Const.EventsEndpoint }}">Audit logs</option>
            {{ end }}
        </select>
    </div>
    <div class="hidden sm:block">
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                <a href="#"
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.CurrentOrg.ID $.Const.TabEndpoint $.Const.DashboardEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Properties</a>
                <a href="#" class="border-pclime-500 text-pclime-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" aria-current="page">Forms</a>
                {{ if eq .Params.CurrentOrg.Level .Const.OrgLevelOwner }}
                <a href="#"
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.CurrentOrg.ID $.Const.TabEndpoint $.Const.MembersEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Members</a>
                {{ end }}
                <a href="#"
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.CurrentOrg.ID $.Const.TabEndpoint $.Const.SettingsEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Settings</a>
                <a href="#"
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.CurrentOrg.ID $.Const.TabEndpoint $.Const.RulesEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Rules</a>
                {{ if eq .Params.CurrentOrg.Level .Const.OrgLevelOwner }}
                <a href="#"
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.CurrentOrg.ID $.Const.TabEndpoint $.Const.EventsEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Audit logs</a>
                {{ end }}
            </nav>
        </div>
    </div>
</div>

<div class="flex-1 flex items-center">
    <div class="text-center mx-auto px-44 py-28 mt-12 border-2 border-dashed rounded-xl hover:border-gray-600">
        <h1 class="mt-6 text-xl font-bold tracking-tight text-gray-600">No forms</h1>
        <p class="mt-4 text-base leading-7 text-gray-600">Forms will appear here once they are available for this organization.</p>
    </div>
</div>
