{{define "org-tabs.html"}}
{{ $root := .Root }}
{{ $active := .ActiveTab }}
<div>
    <div class="sm:hidden">
        <label for="org-tabs-select" class="sr-only">Select a tab</label>
        <select id="org-tabs-select" name="tabs" class="pc-internal-form-select"
            {{ if eq $active "settings" }}data-unsaved-changes-scope="org-settings"{{ end }}
            hx-target="#org-tabs"
            hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.TabEndpoint }}"
            hx-on::config-request="event.detail.path += '/'+this.value"
            hx-swap="innerHTML">
            <option value="{{ $root.Const.DashboardEndpoint }}" {{ if eq $active "dashboard" }}selected{{ end }}>Properties</option>
            <option value="{{ $root.Const.FormsEndpoint }}" {{ if eq $active "forms" }}selected{{ end }}>Forms</option>
            {{ if eq $root.Params.CurrentOrg.Level $root.Const.OrgLevelOwner }}
            <option value="{{ $root.Const.MembersEndpoint }}" {{ if eq $active "members" }}selected{{ end }}>Members</option>
            {{ end }}
            <option value="{{ $root.Const.SettingsEndpoint }}" {{ if eq $active "settings" }}selected{{ end }}>Settings</option>
            <option value="{{ $root.Const.RulesEndpoint }}" {{ if eq $active "rules" }}selected{{ end }}>Rules</option>
            {{ if eq $root.Params.CurrentOrg.Level $root.Const.OrgLevelOwner }}
            <option value="{{ $root.Const.EventsEndpoint }}" {{ if eq $active "auditlogs" }}selected{{ end }}>Audit logs</option>
            {{ end }}
        </select>
        {{ if and (eq $active "dashboard") $root.Params.Properties }}
        <div class="mt-3 flex justify-end">
            <label for="propertiesSortSelect" class="sr-only">Sort properties</label>
            <select id="propertiesSortSelect" class="pc-internal-form-select w-auto"
                x-model="propertiesSort"
                x-on:change="htmx.ajax('GET', '{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.PropertiesEndpoint }}?{{$root.Const.Page}}=0&amp;{{$root.Const.Sort}}=' + $event.target.value, {target: '#properties', swap: 'innerHTML'})">
                <option value="date_asc">Oldest first</option>
                <option value="date_desc">Newest first</option>
                <option value="name_asc">Name A-Z</option>
                <option value="name_desc">Name Z-A</option>
            </select>
        </div>
        {{ end }}
    </div>
    <div class="hidden sm:block">
        <div class="pc-tab-nav">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs" {{ if eq $active "settings" }}data-unsaved-changes-scope="org-settings"{{ end }}>
                <a href="#"
                    {{ if ne $active "dashboard" }}
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.TabEndpoint $root.Const.DashboardEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID }}?{{ $root.Const.Tab }}={{$root.Const.DashboardEndpoint}}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "dashboard" }}pc-tab-active{{ end }}"
                    {{ if eq $active "dashboard" }}aria-current="page"{{ end }}>Properties</a>
                <a href="#"
                    {{ if ne $active "forms" }}
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.TabEndpoint $root.Const.FormsEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID }}?{{ $root.Const.Tab }}={{$root.Const.FormsEndpoint}}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "forms" }}pc-tab-active{{ end }}"
                    {{ if eq $active "forms" }}aria-current="page"{{ end }}>Forms</a>
                {{ if eq $root.Params.CurrentOrg.Level $root.Const.OrgLevelOwner }}
                <a href="#"
                    {{ if ne $active "members" }}
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.TabEndpoint $root.Const.MembersEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID }}?{{ $root.Const.Tab }}={{$root.Const.MembersEndpoint}}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "members" }}pc-tab-active{{ end }}"
                    {{ if eq $active "members" }}aria-current="page"{{ end }}>Members</a>
                {{ end }}
                <a href="#"
                    {{ if ne $active "settings" }}
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.TabEndpoint $root.Const.SettingsEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID }}?{{ $root.Const.Tab }}={{$root.Const.SettingsEndpoint}}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "settings" }}pc-tab-active{{ end }}"
                    {{ if eq $active "settings" }}aria-current="page"{{ end }}>Settings</a>
                <a href="#"
                    {{ if ne $active "rules" }}
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.TabEndpoint $root.Const.RulesEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID }}?{{ $root.Const.Tab }}={{$root.Const.RulesEndpoint}}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "rules" }}pc-tab-active{{ end }}"
                    {{ if eq $active "rules" }}aria-current="page"{{ end }}>Rules</a>
                {{ if eq $root.Params.CurrentOrg.Level $root.Const.OrgLevelOwner }}
                <a href="#"
                    {{ if ne $active "auditlogs" }}
                    hx-target="#org-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.TabEndpoint $root.Const.EventsEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID }}?{{ $root.Const.Tab }}={{$root.Const.EventsEndpoint}}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "auditlogs" }}pc-tab-active{{ end }}"
                    {{ if eq $active "auditlogs" }}aria-current="page"{{ end }}>Audit logs</a>
                {{ end }}
                {{ if and (eq $active "dashboard") $root.Params.Properties }}
                <div class="grow flex items-center justify-end gap-x-4">
                    <div class="relative">
                        <button type="button" class="pc-setup-button gap-x-1.5"
                            @click="propertiesOptionsOpen = !propertiesOptionsOpen" id="properties-options-button" x-ref="propertiesOptionsButton" :aria-expanded="propertiesOptionsOpen" aria-controls="properties-options">
                            Options
                            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="-mr-1 w-5 h-5 text-pc-grey-600">
                                <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </button>
                        <div
                            id="properties-options"
                            x-cloak x-show="propertiesOptionsOpen"
                            x-transition:enter="transition ease-out duration-100"
                            x-transition:enter-start="transform opacity-0 scale-95"
                            x-transition:enter-end="transform opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-75"
                            x-transition:leave-start="transform opacity-100 scale-100"
                            x-transition:leave-end="transform opacity-0 scale-95"
                            class="pc-header-dropdown" style="display: none;">
                            <div class="flex gap-3 px-4 py-2">
                                <div class="flex h-6 shrink-0 items-center">
                                    <div class="group grid size-4 grid-cols-1">
                                        <input id="showSitekeysCheckbox" type="checkbox" name="showSitekeys" x-model="showSitekeys" @click="propertiesOptionsOpen = false" class="col-start-1 row-start-1 pc-internal-form-checkbox" />
                                        <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-[:disabled]:stroke-pc-grey-950/25">
                                            <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-[:checked]:opacity-100" />
                                            <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-[:indeterminate]:opacity-100" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="text-sm/6">
                                    <label for="showSitekeysCheckbox" class="pc-checkbox-label">Show Sitekeys</label>
                                </div>
                            </div>
                            <div class="px-4 py-2">
                                <fieldset>
                                    <legend class="text-xs font-medium uppercase tracking-wide text-pc-grey-600">Sort properties</legend>
                                    <div class="mt-1 space-y-1">
                                        {{ range $option := $root.Params.SortOptions }}
                                        <div class="flex items-center gap-3 py-1">
                                            <div class="flex size-4 shrink-0 items-center">
                                                <input id="{{ $option.ID }}" type="radio" name="propertiesSort" value="{{ $option.Value }}" x-model="propertiesSort"
                                                    @change="propertiesOptionsOpen = false; $nextTick(() => $refs.propertiesOptionsButton.focus())"
                                                    hx-trigger="change"
                                                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.PropertiesEndpoint }}"
                                                    hx-target="#properties"
                                                    hx-vals='{"{{$root.Const.Page}}": 0, "{{$root.Const.Sort}}": "{{ $option.Value }}"}'
                                                    class="h-4 w-4 shrink-0 border-pc-grey-250 text-pc-green focus:ring-pc-green active:ring-2 active:ring-pc-green active:ring-offset-2" />
                                            </div>
                                            <label for="{{ $option.ID }}" class="pc-checkbox-label">{{ $option.Label }}</label>
                                        </div>
                                        {{ end }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <a href="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.PropertyEndpoint $root.Const.NewEndpoint }}"
                        class="pc-setup-button gap-x-1.5 px-4">
                        <svg class="-ml-0.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Add New Property
                    </a>
                </div>
                {{ else if and (eq $active "forms") $root.Params.Forms }}
                <div class="grow flex items-center justify-end gap-x-4">
                    <a href="{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.FormEndpoint $root.Const.NewEndpoint }}"
                        class="pc-setup-button gap-x-1.5 px-4">
                        <svg class="-ml-0.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Add New Form
                    </a>
                </div>
                {{ else if and (eq $active "rules") $root.Platform.Enterprise }}
                <div class="grow flex items-center justify-end gap-x-4">
                    <a
                        {{ if not $root.Params.CanAddNew }}tabindex="-1"{{ end }}
                        href="{{ if $root.Params.CanAddNew }}{{ partsURL $root.Const.OrgEndpoint $root.Params.CurrentOrg.ID $root.Const.RulesEndpoint $root.Const.NewEndpoint }}{{ else }}#{{ end }}"
                        class="pc-setup-button gap-x-1.5 px-4 {{ if not $root.Params.CanAddNew }}opacity-50 cursor-not-allowed pointer-events-none{{ end }}">
                        <svg class="-ml-0.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Add New Rule
                    </a>
                </div>
                {{ end }}
            </nav>
        </div>
    </div>
</div>
{{end}}
