{{define "scripts"}}
<script defer src="{{$.Ctx.CDN}}/portal/js/alpine.persist.min.js" crossorigin="anonymous"></script>
{{template "default-scripts.html" .}}
<script type="text/javascript">
document.addEventListener('alpine:init', () => {
    Alpine.store('search', {
        open: false,
        orgID: '',
        orgName: '',
        close() {
            this.open = false;
            document.querySelector('#searchOpen')?.focus();
        },
        initialize(orgID, orgName) {
            this.orgID = orgID;
            this.orgName = orgName;
        },
        reset(orgID, orgName) {
            this.initialize(orgID, orgName);

            const results = document.querySelector('#searchResults');
            if (results) { results.replaceChildren(); }

            const more = document.querySelector('#searchMore');
            if (more) { more.replaceChildren(); }
        }
    });
});
</script>
{{end}}
