<div>
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-pclime-500 focus:outline-none focus:ring-pclime-500 sm:text-sm"
            onchange="window.location = '{{ partsURL $.Const.OrgEndpoint $.Params.Form.OrgID $.Const.FormEndpoint $.Params.Form.ID }}?{{ $.Const.Tab }}=' + this.value">
            <option value="{{ $.Const.ReportsEndpoint }}">Reports</option>
            <option value="{{ $.Const.IntegrationsEndpoint }}">Integrations</option>
            <option value="{{ $.Const.SettingsEndpoint }}" selected>Settings</option>
            <option value="{{ $.Const.EventsEndpoint }}">Audit logs</option>
        </select>
    </div>
    <div class="hidden sm:block">
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                <a href="#"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.Form.OrgID $.Const.FormEndpoint $.Params.Form.ID $.Const.TabEndpoint $.Const.ReportsEndpoint }}"
                    hx-push-url="{{ partsURL $.Const.OrgEndpoint $.Params.Form.OrgID $.Const.FormEndpoint $.Params.Form.ID }}?{{ $.Const.Tab }}={{$.Const.ReportsEndpoint}}"
                    hx-target="#form-tabs"
                    hx-swap="innerHTML"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Reports</a>
                <a href="#"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.Form.OrgID $.Const.FormEndpoint $.Params.Form.ID $.Const.TabEndpoint $.Const.IntegrationsEndpoint }}"
                    hx-push-url="{{ partsURL $.Const.OrgEndpoint $.Params.Form.OrgID $.Const.FormEndpoint $.Params.Form.ID }}?{{ $.Const.Tab }}={{$.Const.IntegrationsEndpoint}}"
                    hx-target="#form-tabs"
                    hx-swap="innerHTML"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Integrations</a>
                <a href="#" class="border-pclime-500 text-pclime-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" aria-current="page">Settings</a>
                <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Form.OrgID $.Const.FormEndpoint $.Params.Form.ID }}?{{ $.Const.Tab }}={{$.Const.EventsEndpoint}}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Audit logs</a>
            </nav>
        </div>
    </div>
</div>

<div class="grid max-w-4xl grid-cols-1 gap-x-10 gap-y-10 px-4 py-12 sm:px-6 md:grid-cols-3 lg:px-8 lg:py-10">
    <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Basic settings</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Change form behavior, retry settings, request limits, or webhook destination.</p>
        <p class="mt-1">
          <a href="https://docs.privatecaptcha.com/docs/integrations/form-proxy/" target="_blank" class="text-sm/6 font-semibold text-pclime-600 hover:text-pclime-500">Docs <span aria-hidden="true">&rarr;</span></a>
        </p>
    </div>
    <form
        hx-put='{{ partsURL .Const.OrgEndpoint .Params.Org.ID .Const.FormEndpoint .Params.Form.ID .Const.EditEndpoint }}'
        hx-target="#form-tabs"
        hx-swap="innerHTML"
        hx-disabled-elt="input, button"
        class="md:col-span-2 sm:max-w-lg">
        {{template "settings-basic-form.html" .}}
    </form>
</div>

<div class="grid max-w-4xl grid-cols-1 gap-x-10 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Manage property</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Open settings for the backing property attached to this form.</p>
    </div>

    <div class="flex items-start md:col-span-2">
        <a href="{{ partsURL .Const.OrgEndpoint .Params.Org.ID .Const.PropertyEndpoint .Params.Form.PropertyID }}?{{ $.Const.Tab }}={{$.Const.SettingsEndpoint}}" class="pc-internal-form-button pc-internal-form-button-secondary">Manage property</a>
    </div>
</div>
