{{define "login-captcha-widget.html"}}
<div class="private-captcha mt-8"
        data-sitekey="{{.Params.CaptchaSitekey}}"
        data-solution-field="{{.Params.CaptchaSolutionField}}"
        data-start-mode="auto"
        data-started-callback="onCaptchaStarted"
        data-finished-callback="onCaptchaSolved"
        data-puzzle-endpoint="{{.Params.CaptchaEndpoint}}"
        data-styles="--border-radius: .75rem;"
        {{ if .Params.CaptchaDebug }}data-debug="true"{{ end }}>
</div>
{{end}}
