<div class="space-y-4">
    <div>
        <label for="{{ .Const.Email }}" class="pc-form-label"> Email </label>
        <div class="mt-2.5 relative">
            {{- if .Params.Error -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="email" name="{{ .Const.Email }}" id="" placeholder="Email address" class="pc-form-input-base {{ if .Params.Error }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" required />
        </div>
        {{- if .Params.Error -}}
        <p class="pc-form-error-text">{{ .Params.Error }}</p>
        {{- end -}}
    </div>
</div>
<input type="hidden" name="{{ .Const.Token }}" value="{{ .Params.Token }}" />

<button type="submit" class="pc-form-button"> Sign in </button>
