{{template "base.html" .}}

{{define "title"}}Login{{end}}

{{define "html_class"}}h-full bg-pc-bg{{end}}
{{define "body_class"}}h-full min-h-full flex flex-col{{end}}

{{define "header"}}{{template "header-signed-out" .}}{{end}}
{{define "footer"}}{{template "footer-signed-out" .}}{{end}}

{{define "main"}}
<main class="pc-auth-shell">
    <div class="pc-auth-card">
        <div id="login-container" hx-on::after-swap="window.privateCaptcha.setup()">
            {{ if .Params.IsRegister }}
            {{ template "register-contents.html" . }}
            {{ else }}
            {{ template "login-contents.html" . }}
            {{ end }}
        </div>
    </div>
</main>
{{end}}
