<div class="flex h-full min-h-[12rem] items-center justify-center p-4 sm:p-6">
    <div class="pc-modal-panel w-full max-w-lg px-4 pb-4 pt-5 sm:p-6">
        <div class="sm:flex sm:items-start">
            <div class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-pc bg-pc-green/10 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-pc-green" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="pc-modal-title" id="modal-title">Enterprise feature</h3>
                <div class="mt-2">
                    <p class="pc-text-body">{{.}}</p>
                </div>
                <div class="mt-3 text-sm/6">
                    <a href="https://privatecaptcha.com/self-hosting/" target="_blank" rel="noopener noreferrer" class="pc-docs-link">
                        Learn more about our Enterprise features
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
