{{define "footer-signed-in"}}
<footer class="pc-footer">
    <div class="pc-footer-shell">
        <div class="pc-footer-container">
        <div class="pc-footer-inner">
            {{- if $.Ctx.Tips }}
            <div class="pc-footer-tip">
                <p class="pc-tip-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z" />
                    </svg>
                </p>
                {{- $tip := $.Ctx.Tips | random -}}
                <p class="text-sm text-pc-grey-800"><span class="pc-tip-mark">Tip:</span> <span class="pc-tip-text">{{$tip.Text}}</span> {{if $tip.Link}}<a href="{{$tip.Link}}" target="_blank" class="pc-docs-link"></a>{{end}}
                </p>
            </div>
            {{- else }}
            <div class="pc-footer-copyright">
                <p class="text-sm text-pc-grey-800">© Copyright {{.Ctx.CurrentYear}} Private Captcha {{if not $.Platform.Enterprise}}<span class="text-pc-grey-600">(Community Edition)</span>{{end}}</p>
            </div>
            {{- end }}
            <div class="pc-footer-divider" aria-hidden="true"></div>
            <div class="pc-footer-actions">
                <ul class="pc-footer-links">
                    <li>
                        <a href="https://privatecaptcha.com/about/" class="pc-footer-link">About</a>
                    </li>
                    <li>
                        <a href="https://privatecaptcha.com/legal/privacy-service-user/" target="_blank" rel="noopener noreferrer" class="pc-footer-link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://privatecaptcha.com/legal/terms-and-conditions/" target="_blank" rel="noopener noreferrer" class="pc-footer-link">Terms &amp; Conditions</a>
                    </li>
                </ul>
                <div class="pc-footer-divider" aria-hidden="true"></div>
                <div class="pc-footer-social">
                    <a href="https://github.com/PrivateCaptcha/PrivateCaptcha" class="pc-footer-link block" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</footer>
{{end}}
