{{define "header-signed-in"}}
<header>
    <nav class="pc-header-nav" x-data="{profileMenuOpen: false, mobileMenuOpen: false}">
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="absolute top-0 left-0 w-full h-screen z-0 bg-transparent" x-on:click="profileMenuOpen = false" x-cloak x-show="profileMenuOpen"></div>
            <div class="flex h-16 items-center justify-between px-4 sm:px-0">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 relative">
                            <img class="h-8 w-auto" src="{{$.Ctx.CDN}}/portal/img/pc-logo-dark.svg" alt="Private Captcha">
                            {{if not $.Platform.Enterprise}}<div class="absolute -top-2 -right-4 text-xs py-0.25 px-0.5 border border-pc-grey-950 rounded-sm text-pc-grey-950">CE</div>{{end}}
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="{{ relURL "/" }}" class="pc-dashboard-menu-button {{ if eq .Ctx.Path (relURL "/") }}pc-dashboard-menu-button-current{{end}}" aria-current="page">Dashboard</a>
                                <a href="https://docs.privatecaptcha.com/" target="_blank" class="pc-dashboard-menu-button">Docs</a>
                                {{if .Ctx.FirstSession}}<a href="https://docs.privatecaptcha.com/docs/getting-started/" target="_blank" class="pc-dashboard-menu-button">Getting started</a>{{end}}
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <div class="relative ml-3">
                                <div>
                                    <button type="button" @click="profileMenuOpen = !profileMenuOpen" class="pc-user-menu-button" id="user-menu-button" :aria-expanded="profileMenuOpen" aria-haspopup="true">
                                        <span class="absolute -inset-1.5"></span>
                                        <span class="sr-only">Open user menu</span>
                                        <span class="pc-user-menu-avatar">
                                            <svg class="h-full w-full text-pc-grey-950" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                            </svg>
                                        </span>
                                        <span class="pc-user-menu-name">{{.Ctx.UserName}}</span>
                                    </button>
                                </div>
                                <div
                                    x-cloak x-show="profileMenuOpen"
                                    x-transition:enter="transition ease-out duration-100"
                                    x-transition:enter-start="transform opacity-0 scale-95"
                                    x-transition:enter-end="transform opacity-100 scale-100"
                                    x-transition:leave="transition ease-in duration-75"
                                    x-transition:leave-start="transform opacity-100 scale-100"
                                    x-transition:leave-end="transform opacity-0 scale-95"
                                    class="pc-header-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                    {{- if not $.Platform.Registered }}
                                    <div class="px-4 py-3">
                                        <a href="https://privatecaptcha.com/self-hosting/" target="_blank" class="pc-badge pc-badge-warn">UNLICENSED</a>
                                    </div>
                                    {{- end }}
                                    <div {{if not $.Platform.Registered }}class="py-1"{{end}}>
                                        <a href="{{ relURL .Const.AuditLogsEndpoint }}" class="pc-header-dropdown-link" role="menuitem" tabindex="-1" id="user-menu-item-1">Audit logs</a>
                                        <a href="{{ relURL .Const.SettingsEndpoint }}" class="pc-header-dropdown-link" role="menuitem" tabindex="-1" id="user-menu-item-2">Settings</a>
                                        <a href="{{ relURL .Const.LogoutEndpoint }}" class="pc-header-dropdown-link" role="menuitem" tabindex="-1" id="user-menu-item-3">Sign out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <button type="button" class="relative inline-flex items-center justify-center rounded-pc bg-pc-bg p-2 text-pc-grey-950 hover:bg-black/5 hover:text-pc-green-hover focus:outline-none focus:ring-2 focus:ring-pc-green focus:ring-offset-2 focus:ring-offset-pc-bg" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                </div>
            </div>
        </div>

        <div x-cloak x-show="mobileMenuOpen" class="border-t border-dashed border-pc-grey-250 md:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 py-3 sm:px-3">
                <a href="{{ relURL "/" }}" class="pc-dashboard-menu-button pc-dashboard-menu-button-mobile {{ if eq .Ctx.Path (relURL "/") }}pc-dashboard-menu-button-current{{end}}" aria-current="page">Dashboard</a>
                <a href="https://docs.privatecaptcha.com/" target="_blank" class="pc-dashboard-menu-button pc-dashboard-menu-button-mobile">Docs</a>
                {{if .Ctx.FirstSession}}<a href="https://docs.privatecaptcha.com/docs/getting-started/" target="_blank" class="pc-dashboard-menu-button pc-dashboard-menu-button-mobile">Getting started</a>{{end}}
            </div>
            <div class="border-t border-dashed border-pc-grey-250 pb-3 pt-4">
                <div class="flex items-center px-5">
                    <div class="flex-shrink-0">
                        <svg class="h-10 w-10 text-pc-grey-950" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <div class="text-base font-medium leading-none text-pc-grey-950">{{.Ctx.UserName}}</div>
                    </div>
                </div>
                <div class="mt-3 space-y-1 px-2">
                    <a href="{{ relURL .Const.AuditLogsEndpoint }}" class="pc-dashboard-menu-button pc-dashboard-menu-button-mobile">Audit logs</a>
                    <a href="{{ relURL .Const.SettingsEndpoint }}" class="pc-dashboard-menu-button pc-dashboard-menu-button-mobile">Settings</a>
                    <a href="{{ relURL .Const.LogoutEndpoint }}" class="pc-dashboard-menu-button pc-dashboard-menu-button-mobile">Sign out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
{{end}}
