{{define "header-signed-out"}}
<header x-data="{open: false}" class="bg-pc-bg border-b border-dashed border-pc-grey-250">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="https://privatecaptcha.com/" class="-m-1.5 p-1.5 relative">
                <span class="sr-only">Private Captcha</span>
                <img class="h-10 w-auto logo-dark" src="{{$.Ctx.CDN}}/portal/img/pc-logo-dark.svg" alt="Private Captcha">
                {{if not $.Platform.Enterprise}}<div class="absolute top-0 -right-3 text-xs py-0.25 px-0.5 border border-pc-grey-600 rounded-pc text-pc-grey-600">CE</div>{{end}}
            </a>
        </div>
        <div class="flex lg:hidden">
            <button @click="open = true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-pc p-2.5 text-pc-grey-950">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="https://docs.privatecaptcha.com" class="text-sm font-semibold leading-6 text-pc-grey-950 hover:text-pc-green-hover">Documentation</a>
            <a href="https://privatecaptcha.com/faq" class="text-sm font-semibold leading-6 text-pc-grey-950 hover:text-pc-green-hover">FAQ</a>
        </div>
    </nav>
    <div x-cloak x-show="open" class="lg:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-10 bg-pc-grey-950/20"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm border-l border-dashed border-pc-grey-250">
            <div class="flex items-center justify-between">
                <a href="https://privatecaptcha.com/" class="-m-1.5 p-1.5">
                    <span class="sr-only">Private Captcha</span>
                    <img class="h-8 w-auto" src="{{.Ctx.CDN}}/portal/img/pc-icon-dark.svg" alt="">
                </a>
                <button @click="open = false" type="button" class="-m-2.5 rounded-pc p-2.5 text-pc-grey-950">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-dashed divide-pc-grey-250">
                    <div class="space-y-2 py-6">
                        <a href="https://docs.privatecaptcha.com" class="-mx-3 block rounded-pc px-3 py-2 text-base font-semibold leading-7 text-pc-grey-950 hover:bg-pc-pastel-50">Documentation</a>
                        <a href="https://privatecaptcha.com/faq" class="-mx-3 block rounded-pc px-3 py-2 text-base font-semibold leading-7 text-pc-grey-950 hover:bg-pc-pastel-50">FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{end}}
