<aside class="pc-settings-nav">
    <nav data-unsaved-changes-scope="settings">
        <ul class="pc-settings-nav-list">
            {{- range .Params.Tabs }}
            <li>
                <a href="#"
                    {{ if (not .IsActive) -}}
                    hx-get="{{ partsURL $.Const.SettingsEndpoint $.Const.TabEndpoint .ID }}"
                    hx-push-url="{{ partsURL $.Const.SettingsEndpoint }}?{{ $.Const.Tab }}={{.ID}}"
                    hx-target="#settings"
                    hx-swap="innerHTML"
                    {{- end }}
                    class="group pc-settings-nav-link {{if .IsActive}}pc-settings-nav-link-active{{else}}pc-settings-nav-link-inactive{{end}}"
                    {{ if .IsActive }}aria-current="page"{{ end }}>
                    <span class="{{if .IsActive}}pc-settings-nav-icon-active{{else}}pc-settings-nav-icon-inactive{{end}}">
                        {{ include .IconTemplate }}
                    </span>
                    {{.Name}}
                </a>
            </li>
            {{ end -}}
        </ul>
    </nav>
</aside>
