<nav class="w-full" aria-label="Progress">
    <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
        <li class="relative md:flex md:flex-1">
            <!-- Completed Step -->
            <span class="flex items-center px-6 py-4 text-sm font-medium">
                <span class="flex size-10 shrink-0 items-center justify-center rounded-full bg-pclime-600 group-hover:bg-pclime-800">
                    <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                        <path d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </span>
                <span class="ml-4 text-sm font-medium text-gray-900">Create new property</span>
            </span>
            <!-- Arrow separator for lg screens and up -->
            <div aria-hidden="true" class="absolute right-0 top-0 hidden h-full w-5 md:block">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full text-gray-300">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="relative md:flex md:flex-1">
            <!-- Current Step -->
            <span aria-current="step" class="flex items-center px-6 py-4 text-sm font-medium">
                <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-pclime-600">
                    <span class="text-pclime-600">02</span>
                </span>
                <span class="ml-4 text-sm font-semibold text-pclime-600">Website integration</span>
            </span>
            <!-- Arrow separator for lg screens and up -->
            <div aria-hidden="true" class="absolute right-0 top-0 hidden h-full w-5 md:block">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full text-gray-300">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="relative md:flex md:flex-1">
            <!-- Upcoming Step -->
            <a href="#" class="group flex items-center"
                hx-get="{{ partsURL .Const.OrgEndpoint .Params.Property.OrgID .Const.PropertyEndpoint .Params.Property.ID .Const.ServerSetupEndpoint }}"
                hx-target="#property-wizard"
                hx-swap="innerHTML">
                <span class="flex items-center px-6 py-4 text-sm font-medium">
                    <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                        <span class="text-gray-500 group-hover:text-gray-900">03</span>
                    </span>
                    <span class="ml-4 text-sm font-medium text-gray-500">Server integration</span>
                </span>
            </a>
        </li>
    </ol>
</nav>

<div class="mx-auto w-full max-w-3xl py-10">
    <div class="mt-6 divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-50 shadow">
        <div class="px-4 py-5 sm:px-6">
            <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
                <div class="ml-4 mt-4">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-12 w-12" src="{{$.Ctx.CDN}}/portal/img/html5.svg" alt="">
                        </div>
                        <div class="ml-4">
                            <h3 class="text-base font-semibold leading-6 text-gray-900">HTML/JS Snippet</h3>
                            <p class="text-sm text-gray-500">
                            Client-side part of the integration
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex ml-4 mt-4 items-center">
                    <a href="https://docs.privatecaptcha.com/docs/integrations/client-side/" target="_blank" class="text-sm/6 font-semibold text-gray-900 hover:text-pclime-600">Docs <span aria-hidden="true">&rarr;</span></a>
                </div>
            </div>
        </div>
        <div class="bg-gray-200 px-6 py-5 sm:p-6 flex items-center sm:justify-between md:gap-6">
            <div class="grow">
                <code class="block rounded-md bg-gray-200 text-gray-800">
                    <textarea id="snippet" class="h-40 text-sm font-mono transition overflow-hidden bg-gray-200 outline-none appearance-none border border-transparent rounded w-full p-2 focus:outline-none focus:bg-white focus:border-gray-300 resize-none" readonly>{{ `<!-- Add this inside the <head> of your website -->` }}
{{ `<script defer src="https:` }}{{$.Ctx.CDN}}{{ `/widget/js/privatecaptcha.js"></script>` }}

{{ `<!-- Add this inside your form -->` }}
{{ `<div class="private-captcha" data-sitekey="` }}{{ .Params.Sitekey }}{{ `"></div>` }}</textarea>
                </code>
            </div>
            <div class="mt-4 sm:ml-6 sm:mt-0 sm:flex-shrink-0">
                <button type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                    onclick="var textarea = document.getElementById('snippet'); textarea.focus(); textarea.select(); document.execCommand('copy');">
                    Copy
                </button>
            </div>
        </div>
    </div>

    <div class="mt-10">
        <div class="-mt-2 -ml-2 flex flex-wrap items-baseline">
            <h3 class="mt-2 ml-2 text-base font-semibold text-gray-900">Other</h3>
            <p class="mt-1 ml-2 truncate text-sm text-gray-500">use sitekey <code class="rounded-md bg-gray-200 text-gray-800 px-1.5 py-1">{{ .Params.Sitekey }}</code></p>
        </div>
        <ul class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
            {{ range $item := $.Data.integrations.website }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
            {{ range $item := $.Data.integrations.other }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
        </ul>
    </div>

    <div class="flex items-center justify-end mt-20 space-x-6 border-t border-gray-200 pt-6">
        <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}" class="pc-internal-form-button pc-internal-form-button-secondary">
            Finish
        </a>
        <button
            type="button"
            class="pc-internal-form-button pc-internal-form-button-primary"
            hx-get="{{ partsURL .Const.OrgEndpoint .Params.Property.OrgID .Const.PropertyEndpoint .Params.Property.ID .Const.ServerSetupEndpoint }}"
            hx-target="#property-wizard"
            hx-swap="innerHTML"
            >
            <svg id="spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Next
        </button>
    </div>
</div>
