<nav class="w-full" aria-label="Progress">
    <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
        <li class="relative md:flex md:flex-1">
            <!-- Completed Step -->
            <span class="flex items-center px-6 py-4 text-sm font-medium">
                <span class="flex size-10 shrink-0 items-center justify-center rounded-full bg-pclime-600 group-hover:bg-pclime-800">
                    <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                        <path d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </span>
                <span class="ml-4 text-sm font-medium text-gray-900">Create new property</span>
            </span>
            <!-- Arrow separator for lg screens and up -->
            <div aria-hidden="true" class="absolute right-0 top-0 hidden h-full w-5 md:block">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full text-gray-300">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="relative md:flex md:flex-1">
            <!-- Current Step -->
            <span aria-current="step" class="flex items-center px-6 py-4 text-sm font-medium">
                <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-pclime-600">
                    <span class="text-pclime-600">02</span>
                </span>
                <span class="ml-4 text-sm font-semibold text-pclime-600">Website integration</span>
            </span>
            <!-- Arrow separator for lg screens and up -->
            <div aria-hidden="true" class="absolute right-0 top-0 hidden h-full w-5 md:block">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full text-gray-300">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="relative md:flex md:flex-1">
            <!-- Upcoming Step -->
            <a href="#" class="group flex items-center"
                hx-get="{{ partsURL .Const.OrgEndpoint .Params.Property.OrgID .Const.PropertyEndpoint .Params.Property.ID .Const.ServerSetupEndpoint }}"
                hx-target="#property-wizard"
                hx-swap="innerHTML">
                <span class="flex items-center px-6 py-4 text-sm font-medium">
                    <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                        <span class="text-gray-500 group-hover:text-gray-900">03</span>
                    </span>
                    <span class="ml-4 text-sm font-medium text-gray-500">Server integration</span>
                </span>
            </a>
        </li>
    </ol>
</nav>

<div class="mx-auto w-full max-w-3xl py-10">
    <div class="pb-10">{{template "info-link-message.html" (dict "Text" "See detailed website integration guide in the documentation." "Link" "https://docs.privatecaptcha.com/docs/integrations/client-side/" "LinkText" "Docs")}}</div>
    <nav aria-label="Progress">
        <ol role="list" class="overflow-hidden">
            <li class="relative pb-10">
                <div aria-hidden="true" class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"></div>
                <span class="group relative flex items-start">
                    <span aria-hidden="true" class="flex h-9 items-center">
                        <span class="relative z-10 flex size-8 items-center justify-center rounded-full border-2 border-gray-400 bg-white group-hover:border-gray-500">
                            <span class="text-gray-400 group-hover:text-gray-500">1</span>
                        </span>
                    </span>
                    <span class="ml-4 flex min-w-0 flex-col gap-1.5">
                        <span class="text-base font-medium text-gray-900">Add Private Captcha script <i>inside</i> site <code class="rounded-md bg-gray-200 text-gray-800 px-1 py-0.5">{{`<head>`}}</code>:</span>
                        <span class="text-sm text-gray-500"><code class="max-w-2xl rounded-md bg-gray-200 text-gray-800 px-1.5 py-1">{{ `<script defer src="https://cdn.privatecaptcha.com/widget/js/privatecaptcha.js"></script>` }}</code></span>
                    </span>
                </span>
            </li>
             <li class="relative pb-10">
                <div aria-hidden="true" class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"></div>
                <span class="group relative flex items-start">
                    <span aria-hidden="true" class="flex h-9 items-center">
                        <span class="relative z-10 flex size-8 items-center justify-center rounded-full border-2 border-gray-400 bg-white group-hover:border-gray-500">
                            <span class="text-gray-400 group-hover:text-gray-500">2</span>
                        </span>
                    </span>
                    <span class="ml-4 flex min-w-0 flex-col gap-1.5">
                        <span class="text-base font-medium text-gray-900">Add captcha widget <i>inside</i> your <code class="rounded-md bg-gray-200 text-gray-800 px-1 py-0.5">{{`<form>`}}</code>:</span>
                        <span class="text-sm text-gray-500"><code class="max-w-2xl rounded-md bg-gray-200 text-gray-800 px-1.5 py-1">{{ `<div class="private-captcha" data-sitekey="` }}{{ .Params.Sitekey }}{{ `"></div>` }}</code></span>
                    </span>
                </span>
            </li>
             <li class="relative pb-10">
                <span class="group relative flex items-start">
                    <span aria-hidden="true" class="flex h-9 items-center">
                        <span class="relative z-10 flex size-8 items-center justify-center rounded-full border-2 border-gray-400 bg-white group-hover:border-gray-500">
                            <span class="text-gray-400 group-hover:text-gray-500">3</span>
                        </span>
                    </span>
                    <span class="ml-4 flex min-w-0 flex-col gap-1.5">
                        <span class="text-base font-medium text-gray-900">Restrict form submission until captcha is solved</span>
                        <span class="text-sm text-gray-500">For example, disable submit button by default (add attribute <code class="rounded-md bg-gray-200 text-gray-800 px-1 py-0.5">disabled</code>) and enable it only inside <code class="rounded-md bg-gray-200 text-gray-800 px-1 py-0.5">data-finished-callback</code> <i>or</i> after <code class="rounded-md bg-gray-200 text-gray-800 px-1 py-0.5">privatecaptcha:finish</code> event.</span>
                    </span>
                </span>
            </li>
        </ol>
    </nav>
    <div class="mt-10">
        <div class="-mt-2 -ml-2 flex flex-wrap items-baseline">
            <h3 class="mt-2 ml-2 text-base font-semibold text-gray-900">Other</h3>
            <p class="mt-1 ml-2 truncate text-sm text-gray-500">use sitekey <code class="rounded-md bg-gray-200 text-gray-800 px-1.5 py-1">{{ .Params.Sitekey }}</code></p>
        </div>
        <ul class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
            {{ range $item := $.Data.integrations.website }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
            {{ range $item := $.Data.integrations.other }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
        </ul>
    </div>

    <div class="flex items-center justify-end mt-20 space-x-6 border-t border-gray-200 pt-6">
        <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}" class="pc-internal-form-button pc-internal-form-button-secondary">
            Finish
        </a>
        <button
            type="button"
            class="pc-internal-form-button pc-internal-form-button-primary"
            hx-get="{{ partsURL .Const.OrgEndpoint .Params.Property.OrgID .Const.PropertyEndpoint .Params.Property.ID .Const.ServerSetupEndpoint }}"
            hx-target="#property-wizard"
            hx-swap="innerHTML"
            >
            <svg id="spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Next
        </button>
    </div>
</div>
