<div class="space-y-4">
    {{- if .Params.ErrorMessage -}}
    {{ template "error-message.html" .Params.ErrorMessage }}
    {{- end -}}

    <div>
        <label for="{{ .Const.Name }}" class="pc-internal-form-label"> Name </label>
        <div class="mt-2 relative">
            {{- if .Params.NameError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.Name }}" placeholder="Registration Page" maxlength="255" value="" class="pc-internal-form-input-base {{ if .Params.NameError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" required />
        </div>
        {{- if .Params.NameError -}}
        <p class="pc-form-error-text">{{ .Params.NameError }}</p>
        {{- end -}}
    </div>

    <div>
        <label for="{{ .Const.Domain }}" class="pc-internal-form-label"> Domain </label>
        <div class="mt-2 relative">
            {{- if .Params.DomainError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.Domain }}" placeholder="example.com" maxlength="255" value="" class="pc-internal-form-input-base {{ if .Params.DomainError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" />
        </div>
        {{- if .Params.DomainError -}}
        <p class="pc-form-error-text">{{ .Params.DomainError }}</p>
        {{- end -}}
    </div>

    <div>
        <label for="{{ .Const.Difficulty }}" class="pc-internal-form-label tooltip" data-tooltip="Initial difficulty for any captcha request"> Base difficulty </label>
        <div class="mt-2">
            <select name="{{ .Const.Difficulty }}" class="pc-internal-form-select" onchange="onDifficultyChange(this);">
                <option value="0" selected="selected">Easy</option>
                <option value="1">Normal</option>
                <option value="2">Hard</option>
            </select>
        </div>
    </div>

    <div>
        <label for="{{ .Const.Growth }}" class="pc-internal-form-label tooltip" data-tooltip="How fast captcha difficulty grows for subsequent requests"> Difficulty growth </label>
        <div class="mt-2">
            <select name="{{ .Const.Growth }}" class="pc-internal-form-select">
                <option value="0">Slow</option>
                <option value="1" selected="selected">Normal</option>
                <option value="2">Fast</option>
            </select>
        </div>
    </div>

    <div>
        <label for="{{ .Const.Growth }}" class="pc-internal-form-label tooltip" data-tooltip="Test selected difficulty settings"> Widget preview </label>
        <div class="private-captcha mt-2"
            data-sitekey="{{.Params.Sitekey}}"
            data-solution-field="{{.Params.CaptchaSolutionField}}"
            data-start-mode="click"
            data-finished-callback="onCaptchaReset"
            data-puzzle-endpoint="{{.Params.CaptchaEndpoint}}/0"
            data-styles=":host { --border-radius: .375rem; --max-width: 100%; }"
            {{ if .Params.CaptchaDebug }}data-debug="true"{{ end }}>
        </div>
    </div>
</div>

<div class="flex items-center justify-end mt-6 space-x-6">
    <button
        type="reset"
        action="action"
        onclick="window.history.go(-1); return false;"
        class="pc-internal-form-button pc-internal-form-button-secondary"
    >
        Cancel
    </button>

    <button
        type="submit"
        class="pc-internal-form-button pc-internal-form-button-primary"
    >
    <svg id="spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
        Create
    </button>
</div>
