<div class="space-y-4">
    <div>
        <label for="{{ .Const.Name }}" class="pc-internal-form-label"> Name </label>
        <div class="mt-2 relative">
            {{- if .Params.NameError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.Name }}" placeholder="Registration Page" maxlength="255" value="" class="pc-internal-form-input-base {{ if .Params.NameError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" required />
        </div>
        {{- if .Params.NameError -}}
        <p class="pc-form-error-text">{{ .Params.NameError }}</p>
        {{- end -}}
    </div>

    <div>
        <label for="{{ .Const.Domain }}" class="pc-internal-form-label"> Domain </label>
        <div class="mt-2 relative">
            {{- if .Params.DomainError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.Domain }}" placeholder="example.com" value="" class="pc-internal-form-input-base {{ if .Params.DomainError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" />
        </div>
        {{- if .Params.DomainError -}}
        <p class="pc-form-error-text">{{ .Params.DomainError }}</p>
        {{- end -}}
    </div>

    <div>
        <label for="{{ .Const.Difficulty }}" class="pc-internal-form-label"> Base difficulty </label>
        <div class="mt-2">
            <select name="{{ .Const.Difficulty }}" class="pc-form-select">
                <option value="0">Easy</option>
                <option value="1" selected="selected">Normal</option>
                <option value="2">Hard</option>
            </select>
        </div>
    </div>

    <div>
        <label for="{{ .Const.Growth }}" class="pc-internal-form-label"> Difficulty growth </label>
        <div class="mt-2">
            <select name="{{ .Const.Growth }}" class="pc-form-select">
                <option value="0">Slow</option>
                <option value="1" selected="selected">Normal</option>
                <option value="2">Fast</option>
            </select>
        </div>
    </div>
</div>

<input type="hidden" name="{{ .Const.Token }}" value="{{ .Params.Token }}" />

<div class="flex items-center justify-end mt-6 space-x-6">
    <button
        type="reset"
        action="action"
        onclick="window.history.go(-1); return false;"
        class="inline-flex items-center justify-center px-6 py-3 text-sm font-semibold leading-5 text-gray-600 transition-all duration-200 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 hover:bg-gray-50 hover:text-gray-900"
    >
        Cancel
    </button>

    <button
        type="submit"
        class="inline-flex items-center justify-center px-6 py-3 text-sm font-semibold leading-5 text-white transition-all duration-200 bg-indigo-600 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 hover:bg-indigo-500"
    >
    <svg id="spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
        Create
    </button>
</div>
