{{ define "integration-item" }}
<li class="pc-content-card overflow-hidden">
    <div class="flex items-center gap-x-4 bg-pc-pastel-50 p-6">
        <img src="{{$.cdn}}/portal/{{.icon}}" alt="{{.name}} icon" class="pc-integration-icon">
        <div class="text-sm font-medium leading-6 text-pc-grey-950">{{.name}}</div>
        <div class="ml-auto">
            {{ if .ready }}
            <a class="pc-setup-button" href="{{.link}}" target="_blank">Setup</a>
            {{ else }}
            <span class="pc-badge pc-badge-warn">Coming soon</span>
            {{ end }}
        </div>
    </div>
</li>
{{ end }}
