<nav class="w-full" aria-label="Progress">
    <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
        <li class="relative md:flex md:flex-1">
            <!-- Completed Step -->
            <span class="flex items-center px-6 py-4 text-sm font-medium">
                <span class="flex size-10 shrink-0 items-center justify-center rounded-full bg-pclime-600 group-hover:bg-pclime-800">
                    <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                        <path d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </span>
                <span class="ml-4 text-sm font-medium text-gray-900">Create new property</span>
            </span>
            <!-- Arrow separator for lg screens and up -->
            <div aria-hidden="true" class="absolute right-0 top-0 hidden h-full w-5 md:block">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full text-gray-300">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="relative md:flex md:flex-1">
            <!-- Completed Step -->
            <a href="#" class="group flex w-full items-center"
                hx-get="{{ partsURL .Const.OrgEndpoint .Params.Property.OrgID .Const.PropertyEndpoint .Params.Property.ID .Const.ClientSetupEndpoint }}"
                hx-target="#property-wizard"
                hx-swap="innerHTML"
                >
                <span class="flex items-center px-6 py-4 text-sm font-medium">
                    <span class="flex size-10 shrink-0 items-center justify-center rounded-full bg-pclime-600 group-hover:bg-pclime-800">
                        <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                            <path d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" fill-rule="evenodd" />
                        </svg>
                    </span>
                    <span class="ml-4 text-sm font-medium text-gray-900">Website integration</span>
                </span>
            </a>
            <!-- Arrow separator for lg screens and up -->
            <div aria-hidden="true" class="absolute right-0 top-0 hidden h-full w-5 md:block">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full text-gray-300">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="relative md:flex md:flex-1">
            <span aria-current="step" class="flex items-center px-6 py-4 text-sm font-medium">
                <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-pclime-600">
                    <span class="text-pclime-600">03</span>
                </span>
                <span class="ml-4 text-sm font-medium font-semibold text-pclime-600">Server integration</span>
            </span>
        </li>
    </ol>
</nav>

<div class="mx-auto w-full max-w-3xl py-10">
    <div class="">
        <div class="-mt-2 -ml-2 flex flex-wrap items-baseline">
            <h3 class="mt-2 ml-2 text-base font-semibold text-gray-900">Required:</h3>
            <p class="mt-1 ml-5 truncate text-sm text-gray-500"><a target="_blank" class="pc-internal-form-button pc-internal-form-button-secondary" href="{{ relURL .Const.SettingsEndpoint }}?{{ $.Const.Tab }}={{ $.Const.APIKeysEndpoint }}">Create an API key</a></p>
        </div>
        <ul class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
            {{ range $item := $.Data.integrations.other }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
            {{ range $i, $item := $.Data.integrations.server }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
        </ul>
    </div>

    <div class="flex items-center justify-end mt-20 space-x-6 border-t border-gray-200 pt-6">
        <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}" class="pc-internal-form-button pc-internal-form-button-primary">
            Finish
        </a>
    </div>
</div>
