<nav class="pc-wizard-progress w-full" aria-label="Progress">
    <ol role="list">
        <li class="pc-wizard-step">
            <span class="pc-wizard-step-body">
                <span class="pc-wizard-step-marker pc-wizard-step-marker-complete">
                    <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-6">
                        <path d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </span>
                <span class="pc-wizard-step-label-complete">Create new property</span>
            </span>
            <div aria-hidden="true" class="pc-wizard-step-separator">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="pc-wizard-step">
            <a href="#" class="group flex w-full items-center"
                hx-get="{{ partsURL .Const.OrgEndpoint .Params.Property.OrgID .Const.PropertyEndpoint .Params.Property.ID .Const.ClientSetupEndpoint }}"
                hx-target="#property-wizard"
                hx-swap="innerHTML">
                <span class="pc-wizard-step-body">
                    <span class="pc-wizard-step-marker pc-wizard-step-marker-complete">
                        <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-6">
                            <path d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" fill-rule="evenodd" />
                        </svg>
                    </span>
                    <span class="pc-wizard-step-label-complete">Website integration</span>
                </span>
            </a>
            <div aria-hidden="true" class="pc-wizard-step-separator">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="pc-wizard-step">
            <span aria-current="step" class="pc-wizard-step-body">
                <span class="pc-wizard-step-marker pc-wizard-step-marker-current">
                    <span>03</span>
                </span>
                <span class="pc-wizard-step-label-current">Server integration</span>
            </span>
        </li>
    </ol>
</nav>

<div class="mx-auto w-full max-w-3xl py-10">
    <div>
        <div class="-mt-2 -ml-2 flex flex-wrap items-baseline">
            <h3 class="mt-2 ml-2 pc-wizard-section-title">Required:</h3>
            <p class="mt-1 ml-5 truncate pc-wizard-section-desc"><a target="_blank" class="pc-internal-form-button pc-internal-form-button-secondary" href="{{ relURL .Const.SettingsEndpoint }}?{{ $.Const.Tab }}={{ $.Const.APIKeysEndpoint }}">Create an API key</a></p>
        </div>
        <ul class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
            {{ range $item := $.Data.integrations.other }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
            {{ range $i, $item := $.Data.integrations.server }}
            {{ template "integration-item" dict "icon" .icon "name" .name "ready" .ready "link" .link "cdn" $.Ctx.CDN }}
            {{ end }}
        </ul>
    </div>

    <div class="pc-wizard-footer">
        <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}" class="pc-internal-form-button pc-internal-form-button-primary">
            Finish
        </a>
    </div>
</div>
