STAGE=dev
PC_POSTGRES=postgres://captchasrv:QMS0fJmTHS8Gzq@postgres:5432/privatecaptcha?sslmode=require&search_path=backend
PC_CLICKHOUSE_HOST=clickhouse
PC_CLICKHOUSE_DB=privatecaptcha
PC_CLICKHOUSE_USER=captchasrv
PC_CLICKHOUSE_PASSWORD=uwnhNn4YW01
UA_KEY=ea3ad6863f0ba598c01bb561eda18c24fa72b75629baed833fb92a7fde29a5dd3ce1cbd466e5c0a2762034b43127bb11a4dd86f1c8ea3c24ea70da21f5b2201c
API_SALT=salt
PC_PRIVATE_API_KEY=8a67ae936b3d569efcf63c5565ed2263d
PADDLE_BASE_URL=https://sandbox-vendors.paddle.com
PADDLE_API_KEY=b4f5ad872c5ef72fc019123462b4bc96d
RATE_LIMIT_HEADER=X-REAL-IP
