PC_POSTGRES=postgres://postgres:postgres@postgres:5432/privatecaptcha?sslmode=disable
PC_CLICKHOUSE_HOST=clickhouse
PC_CLICKHOUSE_DB=privatecaptcha
PC_CLICKHOUSE_USER=default
UA_KEY=ea3ad6863f0ba598c01bb561eda18c24fa72b75629baed833fb92a7fde29a5dd3ce1cbd466e5c0a2762034b43127bb11a4dd86f1c8ea3c24ea70da21f5b2201c
