<main class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-0 lg:py-20" {{if .Params.PreviewOpen }}x-data="{previewOpen: true}"{{end}}>
    {{ if .Params.PreviewOpen }}
    <div class="relative z-20" aria-labelledby="modal-title" role="dialog" aria-modal="true"
        x-show="previewOpen"
        x-transition:enter="ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="ease-in duration-200"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        >
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

        <div class="fixed inset-0 z-20 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md"
                    x-show="previewOpen"
                    x-transition:enter="ease-out duration-300"
                    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                    x-transition:leave="ease-in duration-200"
                    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
                    <form hx-put='{{ partsURL .Const.SettingsEndpoint .Const.TabEndpoint .Const.BillingEndpoint }}'
                        hx-indicator="#confirm-spinner"
                        hx-target="#settings-content-area"
                        hx-swap="innerHTML"
                        >
                        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">
                                <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-pcslate-50 sm:mx-0 sm:h-10 sm:w-10">
                                    <svg class="h-6 w-6 text-pclime-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                    <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Preview subscription changes</h3>
                                    <div class="mt-2">
                                        <dl class="divide-y divide-gray-100">
                                            <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                                <dt class="text-sm font-medium leading-6 text-gray-900">Plan</dt>
                                                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{.Params.PreviewPlan}}</dd>
                                            </div>
                                            <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                                <dt class="text-sm font-medium leading-6 text-gray-900">Period</dt>
                                                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{.Params.PreviewPeriod}}</dd>
                                            </div>
                                            <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                                <dt class="text-sm font-medium leading-6 text-gray-900">Billed now</dt>
                                                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{.Params.PreviewCharge}} {{.Params.PreviewCurrency}}</dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="{{ .Const.Price }}" value="{{ .Params.PreviewPriceID }}" />
                        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                            <button type="submit" class="pc-internal-form-button pc-internal-form-button-primary sm:ml-3 sm:w-auto">
                                <svg id="confirm-spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                </svg>
                                Confirm
                            </button>
                            <button type="button" class="mt-3 pc-internal-form-button pc-internal-form-button-secondary sm:mt-0 sm:w-auto" @click="previewOpen = false">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <div class="divide-y divide-gray-200">
        <!-- Plan -->
        <section aria-labelledby="plan-heading" class="pb-12 space-y-6" x-data="{productID: '', priceIDs: [], annual: false}" x-init="productID = '{{ .Params.CurrentPlan.PaddleProductID }}'; priceIDs = ['{{.Params.CurrentPlan.PaddlePriceIDMonthly}}', '{{.Params.CurrentPlan.PaddlePriceIDYearly}}']; annual = {{ .Params.YearlyBilling }}">
            {{- if .Params.ErrorMessage -}}
            {{ template "error-message.html" .Params.ErrorMessage }}
            {{- else if .Params.WarningMessage -}}
            {{ template "warning-message.html" .Params.WarningMessage }}
            {{- else if .Params.SuccessMessage -}}
            {{ template "success-message.html" .Params.SuccessMessage }}
            {{- else if .Params.InfoMessage -}}
            {{ template "info-message.html" .Params.InfoMessage }}
            {{- end -}}
            <form
                {{ if .Params.IsSubscribed }}
                hx-post='{{ partsURL .Const.SettingsEndpoint .Const.TabEndpoint .Const.BillingEndpoint .Const.PreviewEndpoint }}'
                hx-target="#settings-content-area"
                hx-swap="innerHTML"
                hx-indicator="#save-spinner"
                hx-disabled-elt="input, button"
                {{ else }}
                @submit.prevent="openCheckout(priceIDs, annual)"
                {{ end }}
                >
                {{ template "plan-form.html" . }}
            </form>
        </section>
        <section aria-labelledby="manage-subscription" class="pt-12">
            <div id="manage-subscription" class="sm:flex sm:items-center sm:justify-between">
                <h3 class="text-base font-semibold leading-6 text-gray-900">Manage subscription</h3>
                <div class="mt-3 flex sm:ml-4 sm:mt-0">
                    <button type="button" class="pc-internal-form-button {{ if $.Params.CanManage }}pc-internal-form-button-danger{{ else }}pc-internal-form-button-disabled{{ end }}"
                        {{ if not $.Params.CanManage }}disabled{{ end }}
                        hx-get="{{ partsURL $.Const.SettingsEndpoint $.Const.TabEndpoint $.Const.BillingEndpoint $.Const.CancelEndpoint }}"
                        hx-indicator="#cancel-spinner"
                        hx-target="this"
                        hx-swap="none">
                        <svg id="cancel-spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        Cancel
                    </button>
                    <button type="button" class="pc-internal-form-button {{ if $.Params.CanManage }}pc-internal-form-button-secondary{{ else }}pc-internal-form-button-disabled{{ end }} ml-6"
                        {{ if not $.Params.CanManage }} disabled {{ end }}
                        hx-get="{{ partsURL $.Const.SettingsEndpoint $.Const.TabEndpoint $.Const.BillingEndpoint $.Const.UpdateEndpoint }}"
                        hx-indicator="#update-spinner"
                        hx-target="this"
                        hx-swap="none">
                        <svg id="update-spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        Update payment method
                    </button>
                </div>
            </div>
        </section>
    </div>
</main>
