<div class="space-y-6">
    <div>
        <h2 id="plan-heading" class="text-base font-semibold leading-6 text-gray-900">Plan</h2>
    </div>

    <fieldset aria-label="Pricing plans">
        <div class="relative -space-y-px rounded-md bg-white">
            {{$plansN := len .Params.Plans}}
            {{ range $i, $plan := .Params.Plans }}
            <label aria-label="{{$plan.Name}}" aria-description="€{{$plan.PriceMonthly}} per month, €{{$plan.PriceYearly}} per year, {{$plan.RequestsLimit}} requests included"
                :class="productID == '{{ $plan.PaddleProductID }}' ? 'z-10 border-indigo-200 bg-indigo-50' : 'border-gray-200'"
                class="relative flex cursor-pointer flex-col {{if eq $i 0}}rounded-tl-md rounded-tr-md{{else if eq (plus1 $i) $plansN}}rounded-bl-md rounded-br-md{{end}} border p-4 focus:outline-none md:grid md:grid-cols-3 md:pl-4 md:pr-6"
                @click="productID = '{{$plan.PaddleProductID}}'; priceIDs = [{{if $plan.PaddlePriceIDMonthly}}'{{$plan.PaddlePriceIDMonthly}}', {{end}}'{{$plan.PaddlePriceIDYearly}}']"
                >
                <span class="flex items-center text-sm">
                    <input type="radio" name="{{$.Const.Product}}" value="{{$plan.PaddleProductID}}" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600 active:ring-2 active:ring-indigo-600 active:ring-offset-2" {{if eq $plan.PaddleProductID $.Params.CurrentPlan.PaddleProductID}}checked{{end}}>
                <span class="billing-plan-name ml-3 font-medium"
                    :class="productID == '{{ $plan.PaddleProductID }}' ? 'text-indigo-900' : 'text-gray-900'">
                    {{$plan.Name}}
                </span>
                </span>
                <span class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-center">
                    {{- if $plan.PaddlePriceIDMonthly -}}
                    <span class="font-medium" :class="productID == '{{ $plan.PaddleProductID }}' ? 'text-indigo-900' : 'text-gray-900'">€{{$plan.PriceMonthly}} / mo</span>
                    <span :class="productID == '{{ $plan.PaddleProductID }}' ? 'text-indigo-900' : 'text-gray-900'">(€{{$plan.PriceYearly}} / yr)</span>
                    {{- else -}}
                    <span class="font-medium" :class="productID == '{{ $plan.PaddleProductID }}' ? 'text-indigo-900' : 'text-gray-900'">€{{$plan.PriceYearly}} / yr</span>
                    {{- end -}}
                </span>
                <span class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right"
                    :class="productID == '{{ $plan.PaddleProductID }}' ? 'text-indigo-700' : 'text-gray-500'">
                    {{$plan.RequestsLimit}} requests included / mo
                </span>
            </label>
            {{ end }}
        </div>
    </fieldset>
</div>

<div class="pt-6 text-right flex justify-between">
    <div class="flex items-center">
        <input type="hidden" name="{{$.Const.Yearly}}" x-model.boolean="annual" />
        <button type="button"
            class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer disabled:cursor-not-allowed rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2"
            :class="(priceIDs.length === 1) ? 'bg-indigo-50' : (annual ? 'bg-indigo-600' : 'bg-gray-200')"
            role="switch" aria-checked="false" aria-labelledby="annual-billing-label" @click="annual = !annual" x-bind:disabled="priceIDs.length && (priceIDs.length === 1)">
            <span aria-hidden="true" :class="(annual || (priceIDs.length === 1)) ? 'translate-x-5' : 'translate-x-0'" class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
        </button>
        <span class="ml-3 text-sm" id="annual-billing-label">
            <span class="font-medium text-gray-900">Annual billing</span>
            <span class="text-gray-500">(1 month free)</span>
        </span>
    </div>
    <button type="submit" class="pc-internal-form-button" x-bind:disabled="(productID == '{{.Params.CurrentPlan.PaddleProductID}}') && (annual == {{.Params.YearlyBilling}})"
        :class="((productID == '{{.Params.CurrentPlan.PaddleProductID}}') && (annual == {{.Params.YearlyBilling}})) ? 'pc-internal-form-button-disabled' : 'pc-internal-form-button-primary'">
        <svg id="save-spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Save
    </button>
</div>
