<nav class="w-full" aria-label="Progress">
    <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
        <li class="relative md:flex md:flex-1">
            <span aria-current="step" class="flex items-center px-6 py-4 text-sm font-medium">
                <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-pclime-600">
                    <span class="text-pclime-600">01</span>
                </span>
                <span class="ml-4 text-sm font-semibold text-pclime-600">Create new form proxy</span>
            </span>
            <div aria-hidden="true" class="absolute right-0 top-0 hidden h-full w-5 md:block">
                <svg viewBox="0 0 22 80" fill="none" preserveAspectRatio="none" class="size-full text-gray-300">
                    <path d="M0 -2L20 40L0 82" stroke="currentcolor" vector-effect="non-scaling-stroke" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
        <li class="relative md:flex md:flex-1">
            <span class="group flex items-center">
                <span class="flex items-center px-6 py-4 text-sm font-medium">
                    <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                        <span class="text-gray-500 group-hover:text-gray-900">02</span>
                    </span>
                    <span class="ml-4 text-sm font-medium text-gray-500">Website integration</span>
                </span>
            </span>
        </li>
    </ol>
</nav>

<div class="mx-auto w-full max-w-md flex-1 flex flex-col justify-center">
    <form
        hx-post='{{ partsURL .Const.OrgEndpoint .Params.CurrentOrg.ID .Const.FormEndpoint .Const.NewEndpoint }}'
        hx-target="#form-wizard"
        hx-swap="innerHTML"
        hx-indicator="#spinner"
        hx-disabled-elt="input, button"
        class="-mt-6">
        {{template "form.html" .}}
    </form>
</div>
