<div class="space-y-6">
    {{- if .Params.ErrorMessage -}}
    {{ template "error-message.html" .Params.ErrorMessage }}
    {{- else if .Params.SuccessMessage -}}
    {{ template "success-message.html" .Params.SuccessMessage }}
    {{- end -}}

    <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Contact Support</h2>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
                <label for="{{ .Const.Category }}" class="block text-sm font-medium leading-6 text-gray-900">Category</label>
                <div class="mt-2">
                    <select name="{{ .Const.Category }}" class="pc-internal-form-select">
                        <option value="0" {{ if eq $.Params.Category "0" }}selected="selected"{{end}}>Question</option>
                        <option value="1" {{ if eq $.Params.Category "1" }}selected="selected"{{end}}>Suggestion</option>
                        <option value="2" {{ if eq $.Params.Category "2" }}selected="selected"{{end}}>Problem</option>
                    </select>
                </div>
            </div>

            <div class="col-span-full">
                <label for="{{ .Const.Message }}" class="block text-sm font-medium leading-6 text-gray-900">Message</label>
                <div class="mt-2">
                    <textarea name="{{ .Const.Message }}" rows="5" maxlength="65536" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{ .Params.Message }}</textarea>
                </div>
                <p class="mt-3 text-sm leading-6 text-gray-600">Provide detailed information to help us assist you better.</p>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="{{ .Const.Token }}" value="{{ .Params.Token }}" />

<div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="submit"
        class="pc-internal-form-button pc-internal-form-button-primary">
        <svg id="spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Send
    </button>
</div>
