{{template "base.html" .}}

{{define "title"}}Property{{end}}

{{define "html_class"}}h-full bg-gray-100{{end}}
{{define "body_class"}}h-full min-h-full flex flex-col{{end}}

{{define "footer"}}{{block "footer-signed-in" .}}{{end}}{{end}}

{{define "header"}}
<div class="bg-gray-800 pb-32">
    {{block "header-signed-in" .}}{{end}}
    <div class="py-10 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div>
            <nav class="sm:hidden" aria-label="Back">
                <a href="javascript:history.back()" class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-200">
                    <svg class="-ml-1 mr-1 h-5 w-5 flex-shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                    </svg>
                    Back
                </a>
            </nav>
            <nav class="hidden sm:flex" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                    <li>
                        <div class="flex">
                            <a href="{{ relURL "/" }}" class="text-sm font-medium text-gray-400 hover:text-gray-200">
                                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 flex-shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                            <a href="{{ partsURL .Const.OrgEndpoint .Params.Org.ID }}" class="ml-4 text-sm font-medium text-gray-400 hover:text-gray-200">{{ .Params.Org.Name }}</a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 flex-shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                            <span aria-current="page" class="ml-4 text-sm font-medium text-gray-400">{{ $.Params.Property.Name }}</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="mt-2 md:flex md:items-center md:justify-between">
            <div class="min-w-0 flex-1">
                <h2 class="text-2xl font-bold leading-7 text-white sm:truncate sm:text-3xl sm:tracking-tight">{{ $.Params.Property.Name }}</h2>
            </div>
            <div class="mt-4 flex flex-shrink-0 md:ml-4 md:mt-0">
                <button type="button" class="inline-flex items-center rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white/20">Delete</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "main"}}
<main class='-mt-32 flex flex-1'>
    <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8 flex flex-1">
        <div class="rounded-lg bg-white shadow flex flex-1">
            <div class="flex-1 px-12 py-12">
                <div>
                    <div class="sm:hidden">
                        <label for="tabs" class="sr-only">Select a tab</label>
                        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                        <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            <option selected>Reports</option>
                            <option>Integrations</option>
                            <option>Settings</option>
                        </select>
                    </div>
                    <div class="hidden sm:block">
                        <div class="border-b border-gray-200">
                            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                                <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                                <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Reports</a>
                                <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Integrations</a>
                                <a href="#" class="border-indigo-500 text-indigo-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" aria-current="page">Settings</a>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-white border border-gray-200 rounded-xl mt-12">
                    <div class="px-4 pt-5 sm:px-6 relative z-0" x-data="chartComponent()">
                        <div class="flex flex-wrap items-center justify-between">
                            <p class="text-base font-bold text-gray-900 lg:order-1">Captcha Requests</p>

                            <nav class="flex items-center justify-center mt-4 space-x-1 2xl:order-2 lg:order-3 md:mt-0 lg:mt-4 sm:space-x-2 2xl:mt-0">
                                <a href="#" title=""
                                    @click="period = '1y'; updateChart()"
                                    :class="period == '1y' ? 'text-gray-900 border-gray-900 rounded-lg' : 'text-gray-500 border-transparent'"
                                    class="px-2 py-2 text-xs font-bold transition-all border rounded-lg sm:px-4 hover:bg-gray-100 duration-200">
                                    12 Months
                                </a>

                                <a href="#" title=""
                                    @click="period = '6m'; updateChart()"
                                    :class="period == '6m' ? 'text-gray-900 border-gray-900 rounded-lg' : 'text-gray-500 border-transparent'"
                                    class="px-2 py-2 text-xs font-bold transition-all border rounded-lg sm:px-4 hover:bg-gray-100 duration-200">
                                    6 Months
                                </a>

                                <a href="#" title=""
                                    @click="period = '30d'; updateChart()"
                                    :class="period == '30d' ? 'text-gray-900 border-gray-900 rounded-lg' : 'text-gray-500 border-transparent'"
                                    class="px-2 py-2 text-xs font-bold transition-all border rounded-lg sm:px-4 hover:bg-gray-100 duration-200">
                                    30 Days
                                </a>

                                <a href="#" title=""
                                    @click="period = '7d'; updateChart()"
                                    :class="period == '7d' ? 'text-gray-900 border-gray-900 rounded-lg' : 'text-gray-500 border-transparent'"
                                    class="px-2 py-2 text-xs font-bold transition-all border rounded-lg sm:px-4 hover:bg-gray-100 duration-200">
                                    7 Days
                                </a>
                            </nav>
                        </div>

                        <div class="mt-6 min-h-96" id="chart" x-ref="chart"></div>

                        <div x-show="isLoading" class="absolute inset-0 flex justify-center items-center z-10">
                            <svg id="spinner" class="animate-spin h-10 w-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25 " cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{end}}
