{{define "property-tabs.html"}}
{{ $root := .Root }}
{{ $active := .ActiveTab }}
<div>
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs" class="pc-internal-form-select"
            {{ if eq $active "settings" }}data-unsaved-changes-scope="property-settings"{{ end }}
            hx-target="#property-tabs"
            hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.TabEndpoint }}"
            hx-on::config-request="event.detail.path += '/'+this.value"
            hx-on::after-request="if(event.detail.successful) { history.pushState(null, '', '{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID }}?{{ $root.Const.Tab }}=' + this.value) }"
            hx-swap="innerHTML">
            <option value="{{ $root.Const.ReportsEndpoint }}" {{ if eq $active "reports" }}selected{{ end }}>Reports</option>
            <option value="{{ $root.Const.IntegrationsEndpoint }}" {{ if eq $active "integrations" }}selected{{ end }}>Integrations</option>
            <option value="{{ $root.Const.SettingsEndpoint }}" {{ if eq $active "settings" }}selected{{ end }}>Settings</option>
            <option value="{{ $root.Const.RulesEndpoint }}" {{ if eq $active "rules" }}selected{{ end }}>Rules</option>
            <option value="{{ $root.Const.EventsEndpoint }}" {{ if eq $active "auditlogs" }}selected{{ end }}>Audit logs</option>
        </select>
        {{ if and (eq $active "rules") $root.Platform.Enterprise }}
        <a
            {{ if not $root.Params.CanAddNew }}tabindex="-1"{{ end }}
            href="{{ if $root.Params.CanAddNew }}{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.RulesEndpoint $root.Const.NewEndpoint }}{{ else }}#{{ end }}"
            class="mt-3 inline-flex pc-setup-button gap-x-1.5 px-4 {{ if $root.Params.CanAddNew }}focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pc-grey-250{{ else }}opacity-50 cursor-not-allowed pointer-events-none{{ end }}">
            <svg class="-ml-0.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            Add New Rule
        </a>
        {{ end }}
    </div>
    <div class="hidden sm:block">
        <div class="pc-tab-nav">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs" {{ if eq $active "settings" }}data-unsaved-changes-scope="property-settings"{{ end }}>
                <a href="#"
                    {{ if ne $active "reports" }}
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.TabEndpoint $root.Const.ReportsEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID }}?{{ $root.Const.Tab }}={{$root.Const.ReportsEndpoint}}"
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    {{ end }}
                    class="pc-tab {{ if eq $active "reports" }}pc-tab-active{{ end }}"
                    {{ if eq $active "reports" }}aria-current="page"{{ end }}>Reports</a>
                <a href="#"
                    {{ if ne $active "integrations" }}
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.TabEndpoint $root.Const.IntegrationsEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID }}?{{ $root.Const.Tab }}={{$root.Const.IntegrationsEndpoint}}"
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    {{ end }}
                    class="pc-tab {{ if eq $active "integrations" }}pc-tab-active{{ end }}"
                    {{ if eq $active "integrations" }}aria-current="page"{{ end }}>Integrations</a>
                <a href="#"
                    {{ if ne $active "settings" }}
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.TabEndpoint $root.Const.SettingsEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID }}?{{ $root.Const.Tab }}={{$root.Const.SettingsEndpoint }}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "settings" }}pc-tab-active{{ end }}"
                    {{ if eq $active "settings" }}aria-current="page"{{ end }}>Settings</a>
                <a href="#"
                    {{ if ne $active "rules" }}
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.TabEndpoint $root.Const.RulesEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID }}?{{ $root.Const.Tab }}={{$root.Const.RulesEndpoint }}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "rules" }}pc-tab-active{{ end }}"
                    {{ if eq $active "rules" }}aria-current="page"{{ end }}>Rules</a>
                <a href="#"
                    {{ if ne $active "auditlogs" }}
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.TabEndpoint $root.Const.EventsEndpoint }}"
                    hx-push-url="{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID }}?{{ $root.Const.Tab }}={{$root.Const.EventsEndpoint }}"
                    {{ end }}
                    class="pc-tab {{ if eq $active "auditlogs" }}pc-tab-active{{ end }}"
                    {{ if eq $active "auditlogs" }}aria-current="page"{{ end }}>Audit logs</a>
                {{ if and (eq $active "rules") $root.Platform.Enterprise }}
                <div class="grow flex items-center justify-end gap-x-4">
                    <a
                        {{ if not $root.Params.CanAddNew }}tabindex="-1" aria-disabled="true"{{ end }}
                        href="{{ if $root.Params.CanAddNew }}{{ partsURL $root.Const.OrgEndpoint $root.Params.Property.OrgID $root.Const.PropertyEndpoint $root.Params.Property.ID $root.Const.RulesEndpoint $root.Const.NewEndpoint }}{{ else }}#{{ end }}"
                        class="self-center pc-setup-button gap-x-1.5 px-4 {{ if $root.Params.CanAddNew }}focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pc-grey-250{{ else }}opacity-50 cursor-not-allowed pointer-events-none{{ end }}">
                        <svg class="-ml-0.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Add New Rule
                    </a>
                </div>
                {{ end }}
            </nav>
        </div>
    </div>
</div>
{{end}}
