<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-lg sm:grid-cols-6">
    {{ template "error-update-message.html" . }}

    <div class="col-span-full">
        <label for="{{ .Const.Name }}" class="pc-internal-form-label"> Name </label>
        <div class="mt-2 relative">
            {{- if .Params.NameError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.Name }}" placeholder="Registration Page" maxlength="255" value="{{ $.Params.Property.Name }}" {{ if not .Params.CanEdit }}disabled{{ end }} class="pc-internal-form-input-base {{ if .Params.CanEdit }}{{ if .Params.NameError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}{{ else }}pc-form-input-disabled{{ end }}" required />
        </div>
        {{- if .Params.NameError -}}
        <p class="pc-form-error-text">{{ .Params.NameError }}</p>
        {{- end -}}
    </div>

    <div class="col-span-full">
        <label for="{{ .Const.Domain }}" class="pc-internal-form-label"> Domain </label>
        <div class="mt-2">
            <input type="text" disabled name="{{ .Const.Domain }}" maxlength="255" value="{{ $.Params.Property.Domain }}" class="pc-internal-form-input-base pc-form-input-disabled" />
        </div>
    </div>

    <div class="col-span-full">
        <label for="{{ .Const.Difficulty }}" class="pc-internal-form-label"> Base difficulty </label>
        <div class="mt-2">
            <select name="{{ .Const.Difficulty }}" {{ if not .Params.CanEdit }}disabled{{ end }} class="pc-internal-form-select {{ if not .Params.CanEdit }}pc-internal-form-select-disabled{{ end }}">
                <option value="0" {{ if eq $.Params.Property.Level 0 }}selected="selected"{{end}}>Easy</option>
                <option value="1" {{ if eq $.Params.Property.Level 1 }}selected="selected"{{end}}>Normal</option>
                <option value="2" {{ if eq $.Params.Property.Level 2 }}selected="selected"{{end}}>Hard</option>
            </select>
        </div>
    </div>

    <div class="col-span-full">
        <label for="{{ .Const.Growth }}" class="pc-internal-form-label"> Difficulty growth </label>
        <div class="mt-2">
            <select name="{{ .Const.Growth }}" {{ if not .Params.CanEdit }}disabled{{ end }} class="pc-internal-form-select {{ if not .Params.CanEdit }}pc-internal-form-select-disabled{{ end }}">
                <option value="0" {{ if eq $.Params.Property.Growth 0 }}selected="selected"{{end}}>Slow</option>
                <option value="1" {{ if eq $.Params.Property.Growth 1 }}selected="selected"{{end}}>Normal</option>
                <option value="2" {{ if eq $.Params.Property.Growth 2 }}selected="selected"{{end}}>Fast</option>
            </select>
        </div>
    </div>

    <input type="hidden" name="{{ .Const.Token }}" value="{{ .Params.Token }}" />
</div>

<div class="mt-8 flex">
    <button type="submit" {{ if not .Params.CanEdit }}disabled{{ end }} class="pc-internal-form-button {{ if .Params.CanEdit }}pc-internal-form-button-primary{{ else }}pc-internal-form-button-disabled{{ end }}">Save</button>
</div>
